{% extends 'Shared/_layoutUser.html' %}
{% block body %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for apto in apartments %}
        <div class="col">
            <div class="card h-100">
                <img src="{{apto.imgFile}}" class="card-img-top" alt="No es posible mostrar fotos de esta propiedad">
                <div class="card-body">
                    <h5 class="card-title">{{apto.Country}} - {{apto.City}}</h5>
                    <p class="card-text"><b>Direccion: </b> <a href="{{apto.Location}}"
                            target="_blank">{{apto.Direction}}</a></p>
                    <p class="card-text"><b>habitaciones: </b> {{apto.NumRooms}}</p>
                    {% if apto.review %}
                    <p class="card-text"><b>Reseña: </b> {{apto.review}}</p>
                    {%else%}
                    <p class="card-text"><b>Reseña: </b> este apartamento no cuenta con reseña</p>
                    {%endif%}
                    {% if apto.Estado == 0 %}
                    <p class="card-text"><b>Estado: </b>Disponible</p>
                    {%else%}
                    <p class="card-text"><b>Estado: </b>Reservado</p>
                    {%endif%}
                </div>
                <div class="card-footer">
                    <small class="text-muted"><b>Precio por noche: $</b>{{apto.priceNight}}</small>
                    {% if apto.Estado == 0 %}
                    <a href="javascript:SearchApartUsers('{{apto.id}}')" class="btn btn-success float-end"><i class="fas fa-door-open"></i> Ver</a>
                    {%else%}
                    <a href="javascript:SearchApartUsers('{{apto.id}}')" class="btn btn-danger float-end"><i class="fas fa-door-closed"></i> Ver</a>
                    {%endif%}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<br>

<script>

    function SearchApartUsers(ID) {

        window.location.href = '/SearchApartUsers/' + ID;

    }
</script>



{% endblock %}