{% extends 'Shared/_layoutUser.html' %}
{% block body %}

<div class="container">

    <div class="card-body" style="margin-top: 10px;">
        <table id="table_id" class="table table-striped table-hover">
            <thead>
                <tr>

                    <th>Nombre</th>
                    <th>Identificacion</th>
                    <th>PrecioNoche</th>
                    <th>FechaInicio</th>
                    <th>FechaFin</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Ver</th>
                    <th>Cancelar</th>
                </tr>
            </thead>
            <tbody>
                {% for row in info %}
                <tr>
                    <td>{{row.NombreCompleto}}</td>
                    <td>{{row.Nidentificacion}}</td>
                    <td>{{row.PrecioNoche}}</td>
                    <td>{{row.FechaInicio}}</td>
                    <td>{{row.FechaFin}}</td>
                    <td>{{row.Correo}}</td>
                    <td>{{row.Telefono}}</td>
                    <td><a href="javascript:SearchApartUsers('{{row.IdApartamento}}')" class="btn btn-success">
                        <i class="far fa-eye"></i>Ver</td>
                    <td><a href="javascript:Cancelar('{{row.IdApartamento}}')" class="btn btn-danger"><i
                                class="far fa-calendar-times ms"></i> Cancelar</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>


    $(document).ready(function () {
        var dataTable = $('#table_id').DataTable();
        $('#table_id').editable({
            container: 'body',
            selector: 'td.name',
            url: '/updateapartment',
            title: 'Nuevo Cambio',
            type: 'POST',
            validate: function (value) {
                if ($.trim(value) == '') {
                    return 'This field is required';
                }
            }
        });
    });

    function Cancelar(ID) {

        if (confirm("Estas seguro de cancelar la reserva?")) {
            window.location.href = '/cancelar/' + ID;
        }
    }

    function SearchApartUsers(ID) {

        window.location.href = '/SearchApartUsers/' + ID;

    }


</script>

{% endblock %}